services:
  db:
    image: docker.io/mysql:8.0.44-debian
    container_name: mysql
    restart: always
    env_file:
      - .env
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend
    user: "0"

  init_db:
    build:
      context: ./database
      dockerfile: Dockerfile
    container_name: init_db
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - backend
  frontend:
    build:
      context: ./Quik/frontend/react-app
    container_name: quik_frontend
    ports:
      - "8080:80"
    networks:
      - backend
    restart: always
networks:
  backend:
    driver: bridge

volumes:
  mysql_data:
